# --- Images ---
UNSPLASH_ACCESS_KEY=your_unsplash_key       # https://unsplash.com/developers
PEXELS_API_KEY=your_pexels_key              # https://www.pexels.com/api
PIXABAY_API_KEY=your_pixabay_key            # https://pixabay.com/api/docs

# --- Videos ---
YOUTUBE_API_KEY=your_youtube_key            # https://console.cloud.google.com (YouTube Data API v3)
VIMEO_ACCESS_TOKEN=your_vimeo_token         # https://developer.vimeo.com

# --- GIFs ---
GIPHY_API_KEY=your_giphy_key                # https://developers.giphy.com
TENOR_API_KEY=your_tenor_key               # https://console.cloud.google.com (Tenor API v2)

# --- 3D Models ---
THINGIVERSE_TOKEN=your_thingiverse_token    # https://www.thingiverse.com/developers
# Sketchfab: no key needed for basic search

# --- Texts ---
# Wikipedia and OpenAlex: no key needed

PORT=3001
