# --- Images ---
UNSPLASH_ACCESS_KEY=your_unsplash_key       # https://unsplash.com/developers
PEXELS_API_KEY=your_pexels_key              # https://www.pexels.com/api
PIXABAY_API_KEY=your_pixabay_key            # https://pixabay.com/api/docs
FLICKR_API_KEY=your_flickr_key              # https://www.flickr.com/services/apps/create/
EUROPEANA_API_KEY=your_europeana_key        # https://apis.europeana.eu/en/get-an-api-key
SMITHSONIAN_API_KEY=your_smithsonian_key    # https://edan.si.edu/openaccess/openapikey.htm
DPLA_API_KEY=your_dpla_key                  # https://dp.la/info/developers/codex/policies/developer-keys/
# NASA, Library of Congress, The Met, ArtStation: no key needed
# Morguefile, StockSnap, DeviantArt, Burst, FreeImages, Freepik: no key needed

# --- Videos ---
YOUTUBE_API_KEY=your_youtube_key            # https://console.cloud.google.com (YouTube Data API v3)
VIMEO_ACCESS_TOKEN=your_vimeo_token         # https://developer.vimeo.com
# Pexels Videos: reuse PEXELS_API_KEY | Pixabay Videos: reuse PIXABAY_API_KEY
# TED, Videvo, PBS, Khan Academy, MIT OCW, Wikimedia Videos: no key needed

# --- GIFs ---
GIPHY_API_KEY=your_giphy_key                # https://developers.giphy.com
TENOR_API_KEY=your_tenor_key               # https://console.cloud.google.com (Tenor API v2)
IMGUR_CLIENT_ID=your_imgur_client_id        # https://api.imgur.com/oauth2/addclient (anonymous usage)
# Reddit, Wifflegif, Imgflip, Gifsec, GifImage, Gifgifs, Pixabay GIFs: no key needed

# --- 3D Models ---
THINGIVERSE_TOKEN=your_thingiverse_token    # https://www.thingiverse.com/developers
# Sketchfab: no key needed for basic search

# --- Texts ---
MERRIAM_WEBSTER_KEY=your_mw_key             # https://dictionaryapi.com/register/index
CORE_API_KEY=your_core_key                  # https://core.ac.uk/api-keys/register
# Wikipedia, OpenAlex, Etymonline, Treccani, ConceptNet, Gutenberg: no key needed
# Internet Archive, arXiv, PubMed, Semantic Scholar, Open Library: no key needed
# Wikisource, Simple Wikipedia, DOAJ: no key needed

PORT=3001
